name: Generate Snake Animation
on:
  schedule:
    - cron: "0 0 * * *"   # runs daily
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - run: mkdir -p dist

      - uses: Platane/snk@v3
        with:
          github_user_name: shubham21-star
          outputs: dist/github-contribution-grid-snake-dark.svg
          dark_mode: true

      - run: ls -la dist

      - uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: output
          publish_dir: ./dist
